.slide {
  border-color: transparent;
}

.smbullets ul {
  height: auto;
}

h4 {
  text-align: center;
}

.smaller {
  font-size: 80%;
}

.smallest {
  font-size: 60%;
}

pre {
  font-size: 2em;
}

.floated-image img {
  float: left;
  margin-right: 2em;
}

.floated-image:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.floated-image {
  display: inline-block;
}

.with-background img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
